/* 
    Document   : joystic
    Created on : 25.04.2013, 11:44:09
    Author     : Dmitriy.Stepanov
    Description:
        Purpose of the stylesheet follows.
*/

.joystik { 
    width: 100% !important;
    height: 100% !important;
}
