/* 
    Document   : joystic
    Created on : 25.04.2013, 11:44:09
    Author     : Dmitriy.Stepanov
    Description:
        Purpose of the stylesheet follows.
*/

.disablePanZoom {
    -ms-touch-action: none; /* Disables all pan/zoom behaviors and fire pointer events in JavaScript instead. */
}
* { margin:0; padding:0; } /* to remove the top and left whitespace */
html { 
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -ms-touch-action: none; /* Direct all pointer events to JavaScript code. */
}
html, body { 
    width:100%; height:100%;
} /* just to be sure these are full screen*/
canvas { 
    display:block;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -user-select: none;
}
#joystik, #vid1 {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

#joystik {
    z-index: 999;
}

/* Portrait */
/*
@media screen and (orientation:portrait) {
   .lower-canvas {
        transform:rotate(-90deg);
        -webkit-transform:rotate(-90deg);
        -moz-transform:rotate(-90deg);
        -o-transform:rotate(-90deg);
    }
}
*/
/* Landscape */
/*
@media screen and (orientation:landscape) {
    .lower-canvas { 
        transform:rotate(0deg);
        -webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -o-transform:rotate(0deg);
    }
}
*/